
  
<div class="container w-50 mt-5 bg-light p-5 rounded-5 mb-5">
      <form action="" formGroup="loginForm">
        <input class="form-control" type="text" name="emailName" id="emailID" [placeholder]="first"><br><br>
        <input class="form-control" type="password" name="pwdName" id="pwdID" [placeholder]="second">
        <div class="text-center mt-5"><button class="btn btn-success" type="submit">Login</button></div>
      </form>
      <p>Don't Have an Account?<a href="">Register</a></p>
</div>
